.little-resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    height: auto;
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 7%;
}

.accueil-container {
    margin-top: 3%;
    width: 100%;
}

@media (max-width: 1200px) {
  .little-resume-container {
    padding-top: 5%;
  }
  .accueil-container {
      margin-top: 4%;
  }
}

@media (max-width: 700px) {
  .little-resume-container {
    padding-top: 10%;
  }
  .accueil-container {
      margin-top: 4%;
  }
}

.ticket-card {
    border: 1px solid #ddd;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    padding: 1rem;
  }
  .ticket-card .btn-buy {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .accueil-container td{
    padding-bottom: 50px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.098); 
  }