.ticket-container {
    width: 98%; /* Correspond à 180 mm */
    max-width: 820px;
    padding: 10px 0; 
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ticket-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.qr-code {
    width: 80px;
    height: 80px;
}

.ticket-image{
    margin-right: 4px;
}
