.ticket-container {
    width: 100%; /* S'adapte à 100% de la largeur de l'écran */
    max-width: 820px;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.ticket-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-code {
    width: 80px;
    height: 80px;
}

.ticket-image {
    margin-right: 10px;
    max-width: 100%; /* Image responsive */
}

@media (max-width: 600px) {
    .ticket-container {
        flex-direction: column; /* Empile les éléments sur petits écrans */
    }

    .ticket-image {
        margin-right: 0;
        width: 100%;
    }

    .qr-code {
        width: 150px;
        height: 150px;
    }
}
